<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind CSS CDN</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>
<div style="font-family: 'Battambang', system-ui; width: 500px; text-align: center; margin: auto;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Spring_Framework_Logo_2018.svg/2560px-Spring_Framework_Logo_2018.svg.png" alt="image" style="width: 200px; height: 50px;">
    <h2 id="head">Class Sphere </h2>
    <p style="font-size: 14px;">Before you sign in, we need to verify your identity. Enter the following code on the sign-in page.</p>
    <h2 id="num" style="margin: auto; background-color: antiquewhite; padding: 10px; text-align: center;" th:text="${code}"></h2>
    <p>Welcome to the Expense Tracking Application. Here, you can monitor your expenses and manage your budget effectively.</p>
</div>
</body>
</html>